machines/libsvm-3.17/matlab/libsvmread.mexa64
machines/libsvm-3.17/matlab/libsvmwrite.mexa64
machines/libsvm-3.17/matlab/svmpredict.mexa64
machines/libsvm-3.17/matlab/svmtrain.mexa64
*.bak
*.aux
*.bbl
*.blg
*.log
*.maf
*.mtc
*.mtc*
*.mtc1
*.mtc10
*.mtc11
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.out
*.gz
*.toc
*.asv
*.m~
